<html lang="ja">
<head>
    <title>{% block title %}phitime{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'phitime:static/resources/bootstrap/dist/css/bootstrap.css'| static_path }}"
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html> 