{% extends "base.jinja2" %}
{% block content %}
    {% macro link(route_name) %}
        <li><a href="{{ route_name| route_url }}">{{ route_name }}</a></li>
    {% endmacro %}
    <ul>
    {{ link('top') }}
    {{ link('event.create') }}
        {{ link('svg.timetable.univ_tsukuba') }}
        {{ link('svg.timetable.half_hourly') }}
        {{ link('svg.calendar') }}
    </ul>
    <ul>
        {% for event in Event.query.all() %}
            <li><a href="{{ 'event.detail'|route_path(event_scrambled_id=event.scrambled_id) }}">{{ event }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}