<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="{{ 'phitime:static/timetables/univ_tsukuba_timetable.css'|static_path }}" ?>
<svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-30 -30 590 930"
        >
    {% macro gen_cell(height, cell_y, class) -%}
        <g class="cell {{ class }}" data-y="{{ cell_y }}" data-height="{{ height }}" transform="translate(0, {{ cell_y }})">
            <rect width="80" height="{{ height }}"/>
        </g>
    {%- endmacro %}
    {% macro gen_one_day() %}
        {% set y = 0 %}
        <!--8-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--9-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--10-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--11-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--12-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--13-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--14-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--15-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--16-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--17-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--18-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--19-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--20-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        <!--21-->
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "odd") }}{% set y = y + h %}
        <!--22-->
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
        {% set h = 30 %}{{ gen_cell(h, y, "even") }}{% set y = y + h %}
    {% endmacro %}
    <!-- rowHeader.width = 30 -->
    <!-- columnHeader.height = 30 -->
    <!-- height = 900 + columnHeader.height-->
    <!-- width = 80px * 7day + rowHeaderWidth.height-->
    <defs>
        <g id="lesson75m" class="the-cell lesson">
            <rect width="80" height="75"/>
        </g>
        <g id="lesson75m" class="the-cell lesson">
            <rect width="80" height="75"/>
        </g>
        <g id="rest40m" class="the-cell break">
            <rect width="80" height="40"/>
        </g>
        <g id="rest15m" class="the-cell break">
            <rect width="80" height="15"/>
        </g>
        <g id="rest50m" class="the-cell break">
            <rect width="80" height="50"/>
        </g>
        <g id="cell30m_even" class="the-cell even">
            <rect width="80" height="30"/>
        </g>
        <g id="cell30m_odd" class="the-cell odd">
            <rect width="80" height="30"/>
        </g>
    </defs>
    <g id="row_headers" transform="translate(-30,0)">
        <g class="row_header" transform="translate(0,-30)">
            <rect width="30" height="30"/>
        </g>
        <g class="row_header even" transform="translate(0,0)">
            <rect width="30" height="60"/>
            <text x="15" y="30">8</text>
        </g>
        <g class="row_header odd" transform="translate(0,60)">
            <rect width="30" height="60"/>
            <text x="15" y="30">9</text>
        </g>
        <g class="row_header even" transform="translate(0,120)">
            <rect width="30" height="60"/>
            <text x="15" y="30">10</text>
        </g>
        <g class="row_header odd" transform="translate(0,180)">
            <rect width="30" height="60"/>
            <text x="15" y="30">11</text>
        </g>
        <g class="row_header even" transform="translate(0,240)">
            <rect width="30" height="60"/>
            <text x="15" y="30">12</text>
        </g>
        <g class="row_header odd" transform="translate(0,300)">
            <rect width="30" height="60"/>
            <text x="15" y="30">13</text>
        </g>
        <g class="row_header even" transform="translate(0,360)">
            <rect width="30" height="60"/>
            <text x="15" y="30">14</text>
        </g>
        <g class="row_header odd" transform="translate(0,420)">
            <rect width="30" height="60"/>
            <text x="15" y="30">15</text>
        </g>
        <g class="row_header even" transform="translate(0,480)">
            <rect width="30" height="60"/>
            <text x="15" y="30">16</text>
        </g>
        <g class="row_header odd" transform="translate(0,540)">
            <rect width="30" height="60"/>
            <text x="15" y="30">17</text>
        </g>
        <g class="row_header even" transform="translate(0,600)">
            <rect width="30" height="60"/>
            <text x="15" y="30">18</text>
        </g>
        <g class="row_header odd" transform="translate(0,660)">
            <rect width="30" height="60"/>
            <text x="15" y="30">19</text>
        </g>
        <g class="row_header even" transform="translate(0,720)">
            <rect width="30" height="60"/>
            <text x="15" y="30">20</text>
        </g>
        <g class="row_header odd" transform="translate(0,780)">
            <rect width="30" height="60"/>
            <text x="15" y="30">21</text>
        </g>
        <g class="row_header even" transform="translate(0,840)">
            <rect width="30" height="60"/>
            <text x="15" y="30">22</text>
        </g>
    </g>
    <g id="main" data-start="800">
        <g id="column_mon" data-day="mon" transform="translate(0,0)">
            <g id="column_header_mon" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">mon</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_tue" data-day="tue" transform="translate(80,0)">
            <g id="column_header_tue" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">tue</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_wed" data-day="wed" transform="translate(160,0)">
            <g id="column_header_wed" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">wed</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_thr" data-day="thr" transform="translate(240,0)">
            <g id="column_header_thr" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">thr</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_fri" data-day="fri" transform="translate(320,0)">
            <g id="column_header_fri" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">fri</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_sat" data-day="sat" transform="translate(400,0)">
            <g id="column_header_sat" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">sat</text>
            </g>
            {{ gen_one_day() }}
        </g>
        <g id="column_sun" data-day="sun" transform="translate(480,0)">
            <g id="column_header_sun" class="column_header" transform="translate(0,-30)">
                <rect width="80" height="30"/>
                <text x="40" y="15">sun</text>
            </g>
            {{ gen_one_day() }}
        </g>
    </g>
    <script xlink:href="{{ 'phitime:static/timetables/timetable.js'|static_path }}" type="application/javascript"/>
</svg>