{% extends "../base.jinja2" %}
{% import "../macro/form.jinja2" as form %}
{% block content %}
    <form method="POST" action="">
        {{ form.input('event.name') }}
        {{ form.input('event.description') }}
        {{ form.select_timetable_type(TimetableType) }}
        {{ form.csrf_token() }}
        <input type="submit"/>
    </form>
{% endblock %}