{% extends "../base.jinja2" %}
{% macro input(name, value='', type='text', size=20) -%}

    <div class="form-group">
        <label>
            {{ name }}
            <input type="{{ type }}" class="form-control" value="{{ value|e }}" size="{{ size }}">
        </label>
    </div>
{%- endmacro %}
{% import "../macro/form.jinja2" as form %}
{% block content %}
    <form method="POST" action="">
        {{ input('event_name') }}
        {{ input('event_description') }}
        {{ form.select_timetable_type(TimetableType) }}
    <input type="submit" />
    </form>
{% endblock %}