{% extends "../base.jinja2" %}
{% import "../macro/form.jinja2" as form %}
{% block content %}
    <form method="post" action="">
        {{ form.input('member.name', member.name) }}
        {{ form.input('member.comment', member.comment) }}
        <input type="submit">
    </form>
{% endblock %}