{% extends "../base.jinja2" %}
{% import "../macro/form.jinja2" as form %}
{% block content %}
    <form method="post" action="">
        {{ form.input('member.name', member.name) }}
        {{ form.input('member.comment', member.comment) }}
        <input type="hidden" value="" name="member.available_times" id="member_available_times">
        <object id="timetable" data="timetable.svg" type="image/svg+xml"
                height="80%"></object>
        <input type="submit" id="submit">
    </form>
    <a href="{{ 'event.detail'|route_path(event_scrambled_id=event.scrambled_id) }}">back</a>
    <script>
        $(document).ready(function () {
            $("#submit").click(function (e) {
                var available_times = $("#timetable")[0].contentDocument.timetable.getActivePeriods();
                console.log(JSON.stringify(available_times));
                $("#member_available_times").val(JSON.stringify(available_times));
            });
        })
    </script>
{% endblock %}